* {
  margin: 0;
  padding: 0;
}

.box {
  text-align: center;
}
.border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  flex-direction: column;
  border: solid black;
  border-width: 10px;
}
.border img {
  margin: 30px;
}

.second {
  display: flex;
  flex-direction: row;
}
